.aboutHome{
    padding: 128px 200px 0;
    background: rgb(220, 234, 245);
    .heroImage{
        width: 60%;
        height: 60%;
    }
    a{
        display: flex;
        align-items: center;
        color: orange;
    }
    .second{
        position: relative;
        bottom: 100px;
    }
}
.ava{
    display: flex;
    align-items: center;
    width: 550px;
    gap: 20px;
}
.avatar{
    width: 32px;
    height: 32px;
}