input{
    padding: 17px 413px 17px 32px;
    border-radius: 27px;
    background: rgba(210, 218, 237, 0.17);
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
textarea{
    width: 1280px;
    height: 215px;
    border-radius: 27px;
    background: rgba(210, 218, 237, 0.17);
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    resize: none;
    margin-top: 40px;
    padding: 29px 0 0 32px;
}
.registerBox{
width: 1282px;
margin-left: auto;
margin-right: auto;
button{
    padding: 18px 32px;
    border-radius: 31px;
    background: rgb(245, 138, 7);
    color: white;
    margin-top: 24px;
}
}